﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="estado_seme.ascx.cs" Inherits="comps_estado_dist" %>
    
    <asp:Panel ID="pnlEdit" runat="server" ScrollBars="Auto" Height="400px">
    <asp:Table ID="table" runat="server" >
    </asp:Table>
    </asp:Panel>
        <asp:Button ID="ButtonOk" runat="server" Text="Gravar" 
    onclick="ButtonOk_Click" />


<asp:SqlDataSource ID="Sqlestado" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ApplicationServices %>" 
    SelectCommand="SELECT [nome], [estadoId] FROM [estado] "></asp:SqlDataSource>



<asp:SqlDataSource ID="SqlestadoSeme" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ApplicationServices %>" 
    DeleteCommand="DELETE FROM [estadoSeme] " 
    InsertCommand="INSERT INTO [estadoSeme] ([estadoIdDe], [estadoIdPara], [valor]) VALUES (@estadoIdDe, @estadoIdPara, @valor)" >    
    <DeleteParameters>
    </DeleteParameters>
    <InsertParameters>
        <asp:Parameter Name="estadoIdDe" Type="Int32" />
        <asp:Parameter Name="estadoIdPara" Type="Int32" />
        <asp:Parameter Name="valor" Type="Double" />
    </InsertParameters>
</asp:SqlDataSource>




