﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="objectivo_seme.ascx.cs" Inherits="comps_objectivo_dist" %>
    
    <asp:Panel ID="pnlEdit" runat="server" ScrollBars="Auto" Height="400px">
    <asp:Table ID="table" runat="server" >
    </asp:Table>
    </asp:Panel>
        <asp:Button ID="ButtonOk" runat="server" Text="Ok" 
    onclick="ButtonOk_Click" />


<asp:SqlDataSource ID="Sqlobjectivo" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ApplicationServices %>" 
    SelectCommand="SELECT [nome], [objectivoId] FROM [objectivo] "></asp:SqlDataSource>



<asp:SqlDataSource ID="SqlobjectivoSeme" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ApplicationServices %>" 
    DeleteCommand="DELETE FROM [objectivoSeme] " 
    InsertCommand="INSERT INTO [objectivoSeme] ([objectivoIdDe], [objectivoIdPara], [valor]) VALUES (@objectivoIdDe, @objectivoIdPara, @valor)" >    
    <DeleteParameters>
    </DeleteParameters>
    <InsertParameters>
        <asp:Parameter Name="objectivoIdDe" Type="Int32" />
        <asp:Parameter Name="objectivoIdPara" Type="Int32" />
        <asp:Parameter Name="valor" Type="Double" />
    </InsertParameters>
</asp:SqlDataSource>




