﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="tipo_seme.ascx.cs" Inherits="comps_tipo_dist" %>
    
    <asp:Panel ID="pnlEdit" runat="server" ScrollBars="Auto" Height="400px">
    <asp:Table ID="table" runat="server" >
    </asp:Table>
    </asp:Panel>
        <asp:Button ID="ButtonOk" runat="server" Text="Gravar" 
    onclick="ButtonOk_Click" />


<asp:SqlDataSource ID="Sqltipo" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ApplicationServices %>" 
    SelectCommand="SELECT [nome], [tipoId] FROM [tipo] "></asp:SqlDataSource>



<asp:SqlDataSource ID="SqltipoSeme" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ApplicationServices %>" 
    DeleteCommand="DELETE FROM [tipoSeme] " 
    InsertCommand="INSERT INTO [tipoSeme] ([tipoIdDe], [tipoIdPara], [valor]) VALUES (@tipoIdDe, @tipoIdPara, @valor)" >    
    <DeleteParameters>
    </DeleteParameters>
    <InsertParameters>
        <asp:Parameter Name="tipoIdDe" Type="Int32" />
        <asp:Parameter Name="tipoIdPara" Type="Int32" />
        <asp:Parameter Name="valor" Type="Double" />
    </InsertParameters>
</asp:SqlDataSource>




