﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="tipologia_seme.ascx.cs" Inherits="comps_tipologia_dist" %>
    
    <asp:Panel ID="pnlEdit" runat="server" ScrollBars="Auto" Height="400px">
    <asp:Table ID="table" runat="server" >
    </asp:Table>
    </asp:Panel>
        <asp:Button ID="ButtonOk" runat="server" Text="Gravar" 
    onclick="ButtonOk_Click" />


<asp:SqlDataSource ID="SqlTipologia" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ApplicationServices %>" 
    SelectCommand="SELECT [nome], [tipologiaId] FROM [tipologia] where nome!='' order by nome"></asp:SqlDataSource>



<asp:SqlDataSource ID="SqlTipologiaSeme" runat="server" 
    ConnectionString="<%$ ConnectionStrings:ApplicationServices %>" 
    DeleteCommand="DELETE FROM [tipologiaSeme] " 
    InsertCommand="INSERT INTO [tipologiaSeme] ([tipologiaIdDe], [tipologiaIdPara], [valor]) VALUES (@tipologiaIdDe, @tipologiaIdPara, @valor)" >    
    <DeleteParameters>
    </DeleteParameters>
    <InsertParameters>
        <asp:Parameter Name="tipologiaIdDe" Type="Int32" />
        <asp:Parameter Name="tipologiaIdPara" Type="Int32" />
        <asp:Parameter Name="valor" Type="Double" />
    </InsertParameters>
</asp:SqlDataSource>




