﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeFile="About.aspx.cs" Inherits="About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h1>
        
        Instituto Superior de Engenharia de Coimbra
        <br />
        Departamento de Engenharia Informática e Sistemas
        <br />
        <br />
    </h1>

    <h2>
    <br /><br /><br />
        CONHECIMENTO E RACIOCINIO
        <br />
        Trabalho final no âmbito do Raciocínio Baseado em Casos
    </h2>

    <h3>
        David Craveiro - a21200495@isec.pt<br />
        Pedro Lopes - a21200565@isec.pt<br />
        Tiago Rosado - a20105059@isec.pt
    </h3>
    
    
    <p>
         

    </p>
</asp:Content>
