﻿<%@ Master Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true" CodeFile="admin.master.cs" Inherits="admin_admin" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
 <asp:ContentPlaceHolder ID="HeadContent" runat="server"/>
</asp:Content>

<asp:Content ID="Content4" ContentPlaceHolderID="SubTitleContent" Runat="Server">
    <asp:ContentPlaceHolder ID="SubTitleContent" runat="server"/>
</asp:Content>

<asp:Content ID="Content3" ContentPlaceHolderID="TopContent" Runat="Server">
       
</asp:Content>


<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
    <asp:ContentPlaceHolder ID="MainContent" runat="server"/>
</asp:Content>

