﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.master" AutoEventWireup="true" CodeFile="estado_seme.aspx.cs" Inherits="admin_estado_seme" %>

<%@ Register src="../comps/estado_seme.ascx" tagname="estado_seme" tagprefix="uc1" %>

<%-- Add content controls here --%>

<asp:Content ID="Content1" ContentPlaceHolderID="SubTitleContent" Runat="Server">
Semelhanças de Estados    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

    <uc1:estado_seme ID="estado_seme1" runat="server" />

</asp:Content>
