﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.master" AutoEventWireup="true" CodeFile="objectivo_seme.aspx.cs" Inherits="admin_objectivo_seme" %>

<%@ Register src="../comps/objectivo_seme.ascx" tagname="objectivo_seme" tagprefix="uc1" %>

<%-- Add content controls here --%>

<asp:Content ID="Content1" ContentPlaceHolderID="SubTitleContent" Runat="Server">
Semelhanças de objectivos    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

    <uc1:objectivo_seme ID="objectivo_seme1" runat="server" />

</asp:Content>
