﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.master" AutoEventWireup="true"
    CodeFile="pesos.aspx.cs" Inherits="admin_pesos" %>



<%@ Register src="../comps/pesosComp.ascx" tagname="pesosComp" tagprefix="uc2" %>



<asp:Content ID="Content3" ContentPlaceHolderID="HeadContent" runat="Server">
    
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="SubTitleContent" runat="Server">
    Pesos
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="Server">
  
    <uc2:pesosComp ID="edPesos" runat="server" />
    <asp:Button ID="btGravar" runat="server" Text="Gravar" 
        onclick="btGravar_Click" />
</asp:Content>
