﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.master" AutoEventWireup="true" CodeFile="tipo_seme.aspx.cs" Inherits="admin_tipo_seme" %>

<%@ Register src="../comps/tipo_seme.ascx" tagname="tipo_seme" tagprefix="uc1" %>

<%-- Add content controls here --%>

<asp:Content ID="Content1" ContentPlaceHolderID="SubTitleContent" Runat="Server">
Semelhanças de Tipos    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

    <uc1:tipo_seme ID="tipo_seme1" runat="server" />

</asp:Content>
