﻿<%@ Page Title="" Language="C#" MasterPageFile="~/admin/admin.master" AutoEventWireup="true" CodeFile="tipologia_seme.aspx.cs" Inherits="admin_tipologia_seme" %>

<%@ Register src="../comps/tipologia_seme.ascx" tagname="tipologia_seme" tagprefix="uc1" %>

<%-- Add content controls here --%>

<asp:Content ID="Content1" ContentPlaceHolderID="SubTitleContent" Runat="Server">
Semelhanças de Tipologias    
</asp:Content>

<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">

    <uc1:tipologia_seme ID="tipologia_seme1" runat="server" />

</asp:Content>
